.top-bar{
    width: 100%;
    height: 50px;
    background-color: gray;
}
.ui.sidebar{
    top: 50px;
}

.ui.inverted.menu{
    background: rgb(194, 194, 194);
    width: 30%;
}
.ui.left.sidebar{
    width:20%;
    min-width: 150px;
    max-width: 260px;
}
.top-left{
    padding: 10px;
    width: 20%;
    min-width: 190px;
    max-width: 260px;
}
.search-box{
    float: right;
    padding: 10px 50px 10px 0px;
    width: 30%;
}
.container{
    display: block;
    padding-left: 20%;
    text-align: center;
}


.item-container{
    margin: 20px;
    width: 300px;
    height: 293px;
    border: 1px solid rgb(199, 199, 199);
    border-radius: 1%;
    display: inline-grid;
    background-color: rgb(247, 247, 247);
}
.item-container:hover{
    background-color: rgb(238, 238, 238);
    -webkit-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
}
.bottom-container{
    height: calc(100% - 50px);
    min-height: 300px;
    overflow: scroll;
}
.full-height{
    height: 100%;
}
.photo{
    width: 300px;
    height: 225px;
    border-radius: 5%;
    padding: 20px;
    object-fit: cover;
    opacity: 0.7;
}
.item-container:hover .photo{
    -webkit-transition: opacity 500ms linear;
    -ms-transition: opacity 500ms linear;
    transition: opacity 500ms linear;
    opacity: 1;
}
.intro{
    width:300px;
    height: 66px;
    /* border: 2px solid orange; */
    padding: 0px 20px;
    text-align: left;
}